<div class="task task-1">
  <h1>Task 1</h1>
  <h3>DatePipe Example: {{ displayTime | date: "dd-MM-yyyy hh:mm:ss" }}</h3>
  <h3>JSON PIPE: {{ apiData | json }}</h3>
</div>
<hr />
<div class="task task-2">
  <h1>Task 2</h1>
  <pure-pipe></pure-pipe>
  <impure-pipe></impure-pipe>
</div>
