:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  &:active,
  &:hover {
    outline: none;
  }
}

body {
  scroll-behavior: smooth;
}

.task {
  margin: 30px 40px 10px 40px;
}

.btn {
  border: none;
  padding: 8px 16px;
  margin: 8px 0 0 0;
  cursor: pointer;
  &:active {
    animation: btnClick 100ms;
  }
}
.btn-blue {
  background-color: darkcyan;
  color: #fff;
}

@keyframes btnClick {
  0% {
    transform: scale(0.875, 0.875);
  }
  60% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
